.profile-container { margin-bottom: 20px; }
.profile {
	margin-top: 20px;
}
.profile-content {
	border: 1px solid #d7d7d7;
	margin-top: 20px;
	border-radius: 3px;
	padding: 10px 10px 30px;
}
.profile-info > div {
	padding: 10px 0px;
	border-bottom: 1px solid #d7d7d7;
	margin: 0px 10px;
	font-family: 'Roboto Condensed Light';
	margin-right: 40px;
}
.profile-user-name {
	font-family: 'PT Sans 55F';
	font-size: 30px;
}
.edit-profile > a > span { font-family: 'Open Sans Regular'; }
.user-info { letter-spacing: 1px; }
.profile-user-pic {
	height: 200px;
	width: 200px;
	display: block;
	margin: 20px auto;
	padding: 5px;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
}
.profile-actions-list {
	list-style-type: none;
	font-family: 'Roboto Condensed Light';
}
.profile-actions-list-item-title {
	border: 1px solid #FF4600;
	padding: 10px;
	margin-left: -10px;
	background: #FF4600;
	color: #fff;
	font-weight: bold;
}
.profile-actions-list-item-title:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.profile-actions-list-item {
	margin-left: -10px;
	border-bottom: 1px solid #FF4600;
	border-left: 1px solid #FF4600;
	border-right: 1px solid #FF4600;
	transition: all 0.5s ease;
	display: block;
}
.profile-actions-list-item:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.profile-actions-list-item:hover {
	transition: border-left 0.5s ease;
	border-left: 10px solid #FF4600;
}
.profile-actions-list-item > a {
	text-decoration: none;
	display: block;
	padding: 10px;
}