<div class="row">
	<div class="col-md-4"><%= image_tag @menu.image.url.to_s, :class => "admin-menu-image" %></div>
	<div class="col-md-8 attributes">
		<% @menu.attributes.keys.each do |attribute| %>
			<div class="row">
				<div class="col-md-2"><%= attribute %></div>
				<div class="col-md-1">:</div>
				<div class="col-md-7"><%= @menu.attributes[attribute] %></div>
			</div>
		<% end %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= link_to "Back", admin_menus_path, :class => "btn btn-default" %>
	</div>
</div>