<div class="admin-header navbar navbar-default">
	<ul class="nav navbar-nav">
		<li><%= link_to "User", admin_users_path %></li>
		<li><%= link_to "Menu", admin_menus_path %></li>
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	</ul>
</div>